
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
.icon-gplus-circled:before { content: '\f310'; } /* '' */
.icon-pinterest-circled:before { content: '\f313'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */